.pie-chart-container {
  canvas {
    width: 100%;
    height: 400px;
    display: block;
    cursor: pointer;
    transition: transform 0.2s ease;

    @media print {
      height: 350px;
    }

    @media (min-width: 1200px) {
      height: 450px;
    }

    @media (max-width: 500px) {
      height: 350px;
    }
  }
}
.section {
  padding: 0px !important;
}
