@import '../../../styles/buttonStyles';

.display-name {
  font-size: 24px;
  font-weight: 600;
  color: #212529;
  margin: 0 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #007bff;
}

// Responsive styles
.action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  height: 44px;
}
