.cumulative-graph-container {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  min-height: 250px;

  @media print {
    page-break-inside: avoid;
    height: 300px;
    margin: 15px 0;
  }

  @media (min-width: 1200px) {
    height: 500px;
  }

  @media (min-width: 1600px) {
    height: 600px;
  }

  @media (max-width: 768px) {
    height: 350px;
  }

  @media (max-width: 500px) {
    height: 300px;
  }

  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}
