@import '../../../styles/variables';
@import '../../../styles/inputStyles';

// renamed from ids-form-control-group
.base-input-group {
  @extend .input-style;
  display: flex;
  align-items: center;
  //gap: 8px;
  width: 100%;

  .input-prefix,
  .input-suffix {
    margin-bottom: 1px;
  }

  input {
    flex: 1 1 auto;
    width: 100%;
    border: none;
    //min-width: 100px;
    &[type='number'] {
      box-sizing: border-box;

      padding-right: 0;
      // Chrome, Safari, Edge, Opera
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      // Firefox
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &:focus {
      outline: none;
    }
  }

  &.red-border {
    &:focus-within {
      outline: none;
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $danger-500 0px 0px 0px 4px;
    }
  }
  &:focus-within {
    outline: none;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(0, 91, 168) 0px 0px 0px 4px;
  }
}
