.card {
  flex: 1 1 auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1.5px solid #cbd5e1; // soft light gray
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  min-width: 215px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0.75rem;
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
    border-radius: 4px;
  }
  h2 {
    margin-top: 0px;
    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }
}
