@import './variables';

.input-style {
  border: 1px solid rgb(149, 149, 149);
  border-radius: $border-radius-sm;
  cursor: text;
  appearance: auto;
  text-rendering: auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-width: var(--input-width, 100%);
  min-width: 60px;

  padding: 0 0.4 * 16px;
  height: 2 * 16px;
  font-size: 14px;

  &:focus {
    outline: none;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(0, 91, 168) 0px 0px 0px 4px;
  }

  &.red-border {
    border-color: $danger-500;

    &:focus {
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $danger-500 0px 0px 0px 4px;
    }
  }
}
