.two-row-layout {
  .loan-amortization-calculator {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    .content-container {
      display: flex;
      gap: 2rem;
      margin-bottom: 11px;

      .calculator-section,
      .amortization-section {
        flex: 1;
      }
      @media (max-width: 970px) {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
