.input-style {
  &[type='number'] {
    box-sizing: border-box;
  }

  &[type='number'] {
    padding-right: 0;
    // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // Firefox
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
